<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="styles.css">
<title>Gerador chaves lista de chaves usuario</title>
</head>
<body>
  <div class="login-container">
    <h2>Gerador chaves lista de chaves usuario</h2>
    <form id="verificação-form">
      <input type="chave_privado" id="chave_privado" placeholder="chave_privado" required>
      <input type="chave_publica" id="chave_publica" placeholder="chave_publica" required>
    </form>
  </div>
</body>
</html>
